{% extends 'base.html' %}

{% block titulo %}
HomeFilmes Hashflix
{% endblock %}


{% block content %}
<div class="py-10">
    <h1>Essa é o detalhe do filme: {{ object.titulo }}</h1>
    <p>{{ object }}</p>
  <p>{{ object.descricao }}</p>
  <img src="{{ object.thumb.url }}">

   <h2>Episodios</h2>
    <ul>
    {% for episodio in object.episodio.all %}
    <a href="{{ Episodio.video }}">
      <p>Episodio {{ forloop.counter }}: {{ episodio.titulo }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}